<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Envio de correo</title>
</head>
<body>
    <div style="width:100%; background:#eee; position:relative; font-family:sans-serif; padding: 40px 0">
	
        <center>
            
            <!-- <img style="padding:20px; width:50%" src="http://drive.google.com/uc?export=view&id=1VMXji0nuInMduFaI5RC7R97RUa0YeT6w"> -->
    
        </center>
    
        <div style="position:relative; margin:auto; width:600px; background:white; padding:20px">
        
            <center>
            
            <img style="padding:20px; width:15%" src="http://tutorialesatualcance.com/tienda/icon-email.png">
    
            <h3 style="font-weight:100; color:#000">¡Verificación de correo electronico Exitosa!</h3>
    
            <hr style="border:1px solid #ccc; width:80%">
    
            <h4 style="font-weight:100; color:#000; padding:0 20px">Continua con tu registro, para dar a conocer tu negocio de manera digital!</h4>
    
            <a href="https://snsanfrancisco.com/login" target="_blank" style="text-decoration:none">
    
            <div style="line-height:60px; background:#0aa; width:60%; color:white">Terminar de configurar mi cuenta</div>
            </a>
    
            <br>
    
            <hr style="border:1px solid #ccc; width:80%">
    
            <h5 style="font-weight:100; color:#000">Ahora es tiempo de continuar con tu registro</h5>
            <h3 style="font-weight:100; color:#000">Sn San Francisco</h3>

    
            </center>
        </div>

    </div>
</body>
</html>